/* Giving styles to header */
a{
    text-decoration: none;
}

.header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;

}
.nav{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.nav,
.nav_item{
    display: flex;
    height: 100%;           /* Dando la altura en la que iran los botones en la cabezera */
    align-items: center;    /* centrando los botones de la cabezera*/
    justify-content: space-between;
}

.nav_logo,
.nav_link,
.button {
    color: rgb(0, 0, 0); /*Dando el color a las letras de la cabezera*/

}

.nav_logo{
    font-size: 50px; /*Dando el tamaño del logo de la pagina (palabra DicoMVE)*/
}

.nav_item{
    column-gap: 80px; /*Dando el espacio entre los itmes como home, abaout....*/
}

.nav_link:hover{
    color: rgb(58, 136, 129); /*Aquí le doy el estilo de cambiar de color al momento de colocar el cursor encima de un link*/
}

.button{
    padding: 30px 20px; /* Ajustando el ancho y largo de los botones de login y Sign Up */
    border: 2px solid rgb(219, 248, 245); /* Ajustando el borde y color de los botones */
    background-color: rgba(11, 197, 188, 0.925); /* Agrega un color de fondo a los botones */
    box-shadow: 0 4px 6px rgba(139, 136, 136, 0.822); /*Ajustando el color de la sombra de los botones */
    border-radius: 20px; /* Ajustando el radio de los botones si quiero que se vean más redondos y no cuadrados */
    cursor: pointer;
    color: rgb(255, 255, 255); /*Ajusta el color de las letras del mensaje*/
    font-size: 18px; /* Ajustando el tamaño de la fuente de los botones */
}

.button:active {
    transform: scale(0.95); /* Dando estilo de parpadeo a los botones */
}

/* Giving styles to Home */
.home{
    position: relative;
    height: 100vh;
    background-image:url('/static/img/fondo_gris.png'); /* Dando la imagen de fondo a la pagina */
    background-size: cover;
    background-position: center;
}

/* Estilos para el contenedor en donde estara el mensaje de bienvenida y la descripcion */
.content_container {
    position: absolute;
    left: 31%; /* Ajusta la posición del contenedor más al centro */
    top: 53%; /* Centra verticalmente el contenedor */
    transform: translate(-50%, -50%); /* Centra el contenedor horizontal y verticalmente */
    color: rgb(255, 255, 255); /*Ajusta el color de las letras del mensaje*/
    border: 2px solid #fff; /* Añade un borde blanco de 2px alrededor del contenedor */
    border-radius: 20px; /* Añade esquinas redondeadas al contenedor */
    padding: 40px; /* Añade un espacio interno alrededor del contenido */
    background-color: rgba(11, 197, 188, 0.925); /* Agrega un fondo blanco transparente al contenedor */
    box-shadow: 0 4px 6px rgba(22, 6, 6, 0.1); /* Agrega una sombra suave al contenedor */
    width: 650px; /* Ajusta el ancho del contenedor */
    height: 560px; /*Ajustando el alto del contenedor*/
    display: flex; /* Añade flexbox para centrar el contenido */
    flex-direction: column; /* Organiza los hijos en columna */
    align-items: center; /* Centra horizontalmente el contenido */
    justify-content: center; /* Centra verticalmente el contenido */
    
}

/* Estilos para el título de Bienvenida */
.welcome_title {
    text-align: center;
}

/* Estilos para el contenedor de los botones */
.button_container {
    position: absolute;
    top: 50%; /* Centra verticalmente el contenedor de botones */
    right: 10%; /* Ajusta la posición del contenedor de botones a la derecha */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 80px; /* Espacio entre los botones */
}



/* Estilos para los botones de login y home en la vista del home*/
.button_container {
    position: absolute;
    left: 141%; /* Alinea los botones a la derecha */
    bottom: 10px; /* Ajusta la posición vertical de los botones */
    margin-top: 10px; /* Margen superior */
    width: 77%; /* Ajustando el ancho de los botones de login y sign Up */
    height: 250px; /*Ajustando altura de los botones alineandolos con la altura del contenedor*/
    padding: 0 60px; /* Añade un espacio interno a los lados, permite ajustar el ancho sin desalinear los botones como estan encajados. */
    
    
    
}

.button:active {
    transform: scale(0.95); /* Dando estilo de parpadeo a los botones */
}


.welcome_title h1 {
    font-size: 36px;
    font-weight: bold;
}

/* Estilos para la sección de mensaje o descripción */
.description {
    text-align: center;
    margin-top: 20px; /* Ajusta según sea necesario */
}

.description p {
    font-size: 36px;
    line-height: 1.5;
}

/* Estilos para el logo de la navegación */
.nav_logo img {
    width: 300px; /* Ajusta el ancho del logo */
    height: auto; /* Para mantener la proporción */
}

/* Estilos para el logo en la navegación */
.nav_logo{
    float: left; /* Coloca el logo a la izquierda */
    margin-right: 20px; /* Añade un espacio entre el logo y los enlaces */
}

/* Estilos para la fuente TitanOne-Regular.ttf */
@font-face {
    font-family: 'Titan One';
    src: url('/static/font/TitanOne-Regular.ttf') format('truetype');
}

.abril-fatface-regular {
    font-family: 'Titan One', serif;
    font-weight: 800;
    font-style: normal;
}