<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DicoMVE</title>

    <!--Boostrap instalado - no necesita internet  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Aqui le empiezo a juntar el etilo que se creo en css, pilas con la sintaxis del href-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_view.css') }}"> 
</head>

<body>

  <!-- header -->
  <header class="header">
    <nav class="nav">
      <!-- Logo -->
      <a href="#" class="nav_logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="DicoMVE Logo">
      </a>
  
      <!-- Lista de enlaces -->
      <ul class="nav_items">
        <li class="nav_item">
          <a href="#" class="nav_link">Home</a> 
          <a href="#" class="nav_link">About</a>
        </li>
      </ul> 
      <!-- Botones de Login y Sing Up -->
      <button class="button">Login</button>
      <button class="button">Sing Up</button>
    </nav>
  </header>

  <!--Home-->
  <section class="home">
    <!-- Contenedor para el título y la descripción -->
    <div class="content_container">
      <!-- Título "Bienvenido a DicoMVE" -->
      <div class="welcome_title">
        <h1>Welcome Doctor</h1>
        <p>This is a basic userfull imaging services for medical tools</p>
      </div>

      <!-- Sección de mensaje o descripción -->
      <section class="description">
        <!--<p>Your personal imaging studies wallet!.</p> -->
      </section>
    </div>

    <!-- Formulario de login -->
    <div class="form_container">
      <i class="ui uil-times form_close"></i>
      <!--Forma del Login-->
      <div class="form login_form">
        <form action="#">
          <h2>Login</h2>
          
          <div class="input_box"></div>
          <input type="email" placeholder="Enter your email">
          <i class="uil uil-envelope-alt email"></i>
        </form>
      </div>
      <div class="input_box"></div>
          <input type="password" placeholder="Enter your password">
          <i class="uil uil-lock password"></i>
          <i class="uil uil-eye-slash pw_hide"></i>
        </form>
      </div>
    </div>
  </section>
</body>
</html>
