<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DicoMVE</title>

    <!--Boostrap instalado - no necesita internet  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Aquí le empiezo a juntar el estilo que se creó en CSS, pilas con la sintaxis del href -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_view.css') }}"> 
</head>

<body>

  <!-- header -->
  <header class="header">
    <nav class="nav">
      <!-- Logo -->
      <a href="/" class="nav_logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="DicoMVE Logo">
      </a>
  
      <!-- Lista de enlaces -->
      <ul class="nav_items">
        <li class="nav_item">
          <a href="/" class="nav_link">Home</a> 
          <a href="#" class="nav_link">About</a>
        </li>
      </ul> 
    </nav>
  </header>

  <!--Home-->
  <section class="home">
    <!-- Contenedor para el título y la descripción -->
    <div class="content_container">
      <!-- Título "Bienvenido a DicoMVE" -->
      <div class="welcome_title">
        <h1>Welcome Doctor</h1>
        <p>This is a basic imaging services usefull for medical tools using Orhtanc server for get imaging studies, this project is  actually building by Chuimachado</p>
      </div>

      <!-- Sección de mensaje o descripción -->
      <section class="description">
        <!--<p>Your personal imaging studies wallet!.</p> -->
      </section>

      <!-- Botones de Login y Sing Up -->
      <div class="button_container">
        <button class="button" onclick="window.location.href='/login'">Login</button>
        <button class="button" onclick="window.location.href='/register'">Sign Up</button>
      </div>
    </div>
  </section>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
