<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DicoMVE-login</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_view.css') }}"> 

</head>
<body>
    <div class="login-container">
        <h1>Welcome to DicoMVE<h1>
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <button type="submit" href="{{url_for('register')}}">Sign in</button>
        </form>
        <h4>Esta es una pagina dedicada a doctores</h4>
        <h6>prueba</h6>
    </div>
</body>
</html>
  