<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DicoMVE-login</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_view.css') }}"> 
  <!--Agregando fuentes de letras para que se vea mas bonito-->
  <!--<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">-->
  
  <!--Agregando cdn de iconos-->
  <script src="https://kit.fontawesome.com/e388f8558d.js" crossorigin="anonymous"></script>
</head>
<body>
    
<!-- Formulario de login -->
<div class="form_container">
    <i class="ui uil-times form_close"></i>
    <!--Forma del Login-->
    <div class="form login_form">
        <form action="#">
            <h2 class="abril-fatface-regular">Login</h2> <!-- Aplica la clase para la fuente -->

            <div class="input_box">
                <input type="email" placeholder="Enter your email">
                <i class="fas fa-user icon"></i> <!-- Ícono de usuario -->
            </div>

            <div class="input_box"> <!-- Abre un nuevo div de input_box -->
                <input type="password" placeholder="Enter your password">
                <i class="fas fa-key icon"></i> <!-- Ícono de llave -->
            </div>
        </form>
    </div>
</div>


</body>
</html>
