<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DicoMVE-login</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_view.css') }}"> 

  
  <!--Agregando cdn de iconos-->
  <script src="https://kit.fontawesome.com/e388f8558d.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- Icono de flecha para volver al home -->
<a href="{{ url_for('home') }}" class="back_to_home">
    <i class="fa-solid fa-arrow-left"></i>
</a>

<!-- Formulario de login -->
<div class="form_container">
    <i class="ui uil-times form_close"></i>
    <!--Forma del Login-->
    <div class="form login_form">
        <form action="#" method="POST">
            <h2 class="TitanOne-Regular">Login</h2> <!-- Aplica la clase para la fuente -->

            <div class="input_box">
                <input type="text" name="username_or_email" placeholder="Ingresa tu usuario o correo" required>
                <i class="fas fa-user icon"></i> <!-- Ícono de usuario -->
            </div>

            <div class="input_box"> <!-- Abre un nuevo div de input_box -->
                <input type="password" name="password" placeholder="Ingresa tu contraseña" required>
                <i class="fas fa-key icon"></i> <!-- Ícono de llave -->
            </div>
            
            <!-- Botón de Login -->
            <button type="submit" class="button">Ingresar</button>
        </form>
    </div>
</div>

</body>
</html>
